version: '3'

services:
  api:
    build: .
    restart: always
    ports:
      - 80:4342
    environment:
      API_TOKEN: abcd
    links:
      - redis

  redis:
    image: redis
    restart: always
    volumes:
      - ./redis:/data